/* #ifndef APP-NVUE */
.sdFormBox {
  width: 100%;
}

.sdFormTitle {
  font-size: 0.8rem;
  color: #666;
  padding: 0 0.8rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.sdFormTitle .rbox {
  float: right;
}

.sdFormInfoBox {}

.sdFormInfo {
  padding-left: 0.8rem;
  background: #fff;
  margin-bottom: 0.8rem;
}

.sdFormInfo.noMargin{
  margin-bottom:0;
}

.sdFormInputSet {
  position: relative;
  border-bottom: 0.8px solid #f2f2f2;
  padding-right: 0.8rem;
}

.sdFormInputSet:last-child {
  border: 0;
}

.sdFormInlineTitleSet {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.sdFormXing {
  position: absolute;
  top: 53%;
  left: -0.4rem;
  transform: translate(-50%, -50%);
}

.sdFormInlineTitle {
  display: inline-block;
  font-size: 1.05rem;
  padding: 1.1rem 0;
  height: 1.2rem;
  line-height: 1.2rem;
}

.sdFormTips {
  display: inline-block;
  margin-left: 0.3rem;
}

.sdFormTipsBlock {
  font-size: 13px;
  margin-top: -15px;
  margin-bottom: 20px;
}

.sdFormTips>text {
  font-size: 14px;
}

.sdFormInlineInput {
  position: absolute;
  right: 0.8rem;
  left: 5.7rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  font-size: 0.88rem;
  color: #999;
  height: 1.4rem;
  line-height: 1.4rem;
  z-index: 0;
}

.sdFormInlineDan {
  right: 30px !important;
}

.sdFormRightText {
  float: right;
  font-size: 0.88rem;
  padding: 1.1rem 0;
  height: 1.2rem;
  line-height: 1.2rem;
}

.sdFormInlineName {
  display: inline-block;
  font-size: 0.88rem;
  color: #999999;
  height: 1rem;
  line-height: 1rem;
  padding: 0.2rem 0;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.sdFormRightJianTou {
  float: right;
  font-size: 0.88rem;
  margin-left: 4px;
  height: 1rem;
  line-height: 1rem;
  padding: 0.2rem 0;
}

.sdFormRightJianTou.switch{
  position: relative;
  top: -0.4rem;
}

.sdFormRightJianTou>text {
  color: #999999;
  font-size: 0.75rem;
}

.sdFormInlineSwitch {
  zoom: 0.7;
}

.sdFormInlineRroup {
  color: #999999;
}

.sdFormInlineLabel {
  font-size: 0.88rem;
  margin-left: 0.8rem;
}

.sdFormBlockTitleSet {
  position: relative;
}

.sdFormBlockTitle {
  font-size: 1rem;
}

.sdFormBlockInput {
  width: 100%;
  position: relative;
  padding-bottom: 0.3rem;
  font-size: 0.88rem;
  color: #999;
}

.sdFormRightBox {
  font-size: 0.88rem;
  color: #999;
  display: block;
  padding: 1.1rem 0;
  height: 1.2rem;
  line-height: 1.2rem;
  position: absolute;
  right: 0.8rem;
  left: 5.7rem;
  top: 0;
  text-align: right;
}

.sdFormBlockTextarea {
  width: 100%;
  font-size: 0.88rem;
  overflow: auto;
  max-height: 4.3rem;
  color: #999;
  z-index: 1;
}

.sdFormBlockTextareaNum {
  text-align: right;
  width: 100%;
  color: #999999;
  font-size: 0.88rem;
  line-height: 1.6rem;
}

.sdFormOnePicSet {
  height: 5rem;
}

.sdFormPicTitleSet {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}

.sdFormPicXing {
  position: absolute;
  left: -0.4rem;
  top: 54%;
  transform: translate(-50%, -50%);
}

.sdFormPicTitle {
  padding: 1.1rem 0;
  font-size: 1.05rem;
  height: 1.2rem;
  line-height: 1.2rem;
  display: inline-block;
}

.sdFormPicBox {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
}

.sdFormPicAdd {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 4rem;
}

.sdFormPicAdd>text {
  color: #e4e4e4;
  font-size: 2rem;
}

.sdFormPicImg {
  width: 100%;
  height: 100%;
}

.sdFormPicImg>image,.sdFormPicImg>img {
  width: 100%;
  height: 100%;
}

.sdFormPicTips {
  font-size: 0.875rem;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 0;
  right: 5.3rem;
  line-height: 1rem;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.sdFormPicImgDel {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: #fff;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  opacity: 0.7;
}

.sdFormPicImgDel>text {
  font-size: 14px;
}

.sdFormManyPicSet {
  position: relative;
  border-bottom: 0.8px solid #f2f2f2;
  padding-right: 0.8rem;
}

.sdFormManyPicTitleSet {
  position: relative;
  width: 100%;
}

.sdFormManyPicXing {
  position: absolute;
  left: -5px;
  top: 56%;
  transform: translate(-50%, -50%);
}

.sdFormManyPicTitle {
  padding: 1.1rem 0;
  font-size: 1.05rem;
  height: 1.1rem;
  line-height: 1.1rem;
  display: inline-block;
}

.sdFormManyPicBox {}

.sdFormManyPicImg {
  width: 4rem;
  height: 4rem;
  position: relative;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

.sdFormManyPicImg>image {
  width: 100%;
  height: 100%;
}

.sdFormManyPicImgDel {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: #fff;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  opacity: 0.7;
}

.sdFormManyPicImgDel>text {
  font-size: 14px;
}

.sdFormManyPicAdd {
  width: 4rem;
  height: 4rem;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  display: inline-block;
  position: relative;
}

.sdFormManyPicAdd>text {
  color: #e4e4e4;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sdFormManyPicTips {
  font-size: 14px;
  padding: 8px 0;
}

.sdFormAllPicBox {}

.sdFormAllPicImg {
  width: 4rem;
  height: 4rem;
  position: relative;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

.sdFormAllPicImg>image {
  width: 100%;
  height: 100%;
}

.sdFormAllPicImgDel {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: #fff;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  opacity: 0.7;
}

.sdFormAllPicImgDel>text {
  font-size: 14px;
}

.sdFormAllPicTips {
  font-size: 14px;
  padding: 8px 0;
}

.sdFormAllPicAdd {
  width: 4rem;
  height: 4rem;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  display: inline-block;
  position: relative;
}

.sdFormAllPicAdd>text {
  color: #e4e4e4;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sdFormManyPicSet:last-child {
  border: 0;
}

.sdFormSucai {
  display: inline-block;
  margin-left: 0.3rem;
  font-size: 0.7rem;
  color: #fff;
  height: 1rem;
  line-height: 1rem;
  border-radius: 4rem;
  padding: 0.05rem 0.3rem;
  transform: translateY(-16%);
}

.sdFormSucai>text {
  font-size: 0.7rem;
  font-weight: bold;
}

.sdFormMovePicBox {}

.sdFormMovePicAdd {
  width: 200px;
  height: 56px;
  border: 0.5px solid #e4e4e4;
  border-radius: 3px;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.sdFormMovePicAdd>text {
  color: #e4e4e4;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sdFormMovePicImg {
  width: 4rem;
  height: 4rem;
  position: relative;
  border: 0.8px solid #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  display: inline-block;
}

.sdFormMovePicImg>image {
  width: 100%;
  height: 100%;
}

.sdFormMovePicImgDel {
  position: absolute;
  right: 0;
  top: 0;
  background: red;
  color: #fff;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  opacity: 0.7;
}

.sdFormMovePicTips {
  font-size: 0.95rem;
  padding: 8px 0;
}

.sdFormInlineSelect {
  position: absolute;
  height: 100%;
  left: 5.7rem;
  top: 0;
  right: 0;
}

.sdFormListsBox {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  max-height: 3rem;
  left: 0;
  overflow: hidden;
  text-align: right;
}

.sdFormLists {
  line-height: 1rem;
  font-size: 0.88rem;
  color: #999;
  white-space: nowrap;
}

.sdFormListsRight {
  float: right;
  padding: 1.1rem 0;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-right: 0.8rem;
}

.sdFormListsRight>text {
  font-size: 0.75rem;
  color: #999;
}

.nobor {
  border: none;
}

/* 单选框开始 */
/*radio未选中时样式 */
uni-radio .uni-radio-input {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
	margin-right:10px;
  transform: translate(11%, -6%);
  border: 1px solid #999;
  background: #fff !important;
}

/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
uni-radio .uni-radio-input.uni-radio-input-checked {
  border-color: darkorange !important;
  /* 居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
uni-radio .uni-radio-input.uni-radio-input-checked::before {
  /* 去除对号 */
  content: '';
  border-radius: 100%;
  width: 0.475rem;
  height: 0.475rem;
  background: darkorange;
  border: 1px solid darkorange;
  padding: 0.2rem;
  background-clip: content-box;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

/* 选中后的样式 （红色背景 无边框 可根据UI需求自己修改） */
uni-radio .uni-radio-input svg {
  /* 去除对号 */
  content: '';
  border-radius: 100%;
  width: 0.475rem;
  height: 0.475rem;
  background: darkorange;
  border: 1px solid darkorange;
  padding: 0.2rem;
  background-clip: content-box;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}
uni-radio .uni-radio-input svg path{
	display: none!important;
}

/* 单选框结束 */

/* 复选框开始 */
.sdFormCheckbox .wx-checkbox-input {
  border-radius: 100%;
  /* 圆角 */
  width: 0.875rem;
  /* 背景的宽 */
  height: 0.875rem;
  /* 背景的高 */
  border: 1px solid #999;
  transform: translate(15%, -10%);
}

.sdFormCheckbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: red;
  border: 1px solid red;
}

.sdFormCheckbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 0.875rem;
  height: 0.875rem;
  line-height: 0.875rem;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

/* 复选框结束 */

/* 复选框开始 */
.sdFormCheckbox .uni-checkbox-wrapper{
	margin-right: 5px;
}

.sdFormCheckbox .uni-checkbox-input{
  border-radius: 100%;
  /* 圆角 */
  width: 0.875rem;
  /* 背景的宽 */
  height: 0.875rem;
  /* 背景的高 */
  border: 1px solid #999;
  transform: translate(15%, -10%);
  color: #fff;
  margin-right:5px;
}

.sdFormCheckbox .uni-checkbox-input svg {
  background: red;
  border: 1px solid red;
  border-radius: 100%;
  color: #fff;
  font-size:0.86rem;
}
/* 复选框结束 */

/* #endif */